@import url("https://unpkg.com/carbon-components/css/carbon-components.min.css");
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

p {
    font-size: 1.0rem !important;
}

blockquote {
    display: inline-block;
    padding: 5px;
}

[hidden] {
    display: none !important;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 400;
}

.small {
    font-size: .875rem !important;
}

.spaceOneRem {
    padding-right: 1rem;
}

.primaryDark {
    color: #2C79C7;
}

header {
    border-bottom: 2px solid #3799FA !important;
    background-color: white !important;
}

.bx--link:hover {
    color: #2C79C7 !important;
}

.bx--tabs__nav-link {
    font-size: 1.0rem !important;
    outline-color: #82BFFB;
}

.bx--tabs--container .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
    box-shadow: inset 0 2px 0 0 #3799FA !important;
}

.bx--tabs__nav-link:focus,
.bx--tabs__nav-link:active {
    outline: 2px solid #3799FA !important;
}

.bx--tab-content div {
    background-color: #F4F4F4;
}

.bx--skip-to-content {
    border: 2px solid #82BFFB !important;
    background-color: white !important;
    color: black !important;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 200;
}

.mainTitle {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 32px;
    font-weight: 400;
}

.mainTitle a {
    color: black;
    text-decoration: none;
}

.mainTitle a:hover {
    text-decoration: none;
}

.mainTitle a:visited {
    text-decoration: none;
    color: black;
}

.postSection {
    margin-bottom: 2rem;
}

.otherPosts {
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.bx--header__menu-toggle:hover {
    background-color: #82BFFB !important;
}

.bx--header__menu-toggle:hover svg path {
    fill: white !important;
}

.bx--header__action:focus {
    border-color: #82BFFB !important;
}

.bx--header__action--active {
    border-right: 1px solid #82BFFB;
    border-bottom: 1px solid #82BFFB;
    border-left: 1px solid #82BFFB;
}

.hncityMenu {
    font-family: 'Pretendard Variable', sans-serif !important;
    font-size: 18px !important;
    font-weight: 200 !important;

    list-style-type: none;
}

.hncityMenu li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    user-select: none;
    color: black;
    border: 2px solid transparent;
}

.hncityMenu li a:hover {
    font-weight: 400 !important;
    background-color: #82BFFB !important;
    color: white !important;
}

.hncityMenu li a:focus {
    border: 2px solid #82BFFB;
}

.bx--navigation {
    background-color: #FFFFFF !important;
}

#main-content {
    padding: 0 !important;
    font-family: 'Pretendard Variable', sans-serif;
    font-feature-settings: 'ss05';
}

#main-image {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/main_image.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
}

#main-image div {
    text-align: center;
    color: white;
}

#main-image div h1,
#main-image div h2 {
    font-weight: 400;
}

#main-image div p {
    font-size: 1.2rem;
}

#main-text-area {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

footer {
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 200;
    border-top: 2px solid #3799FA !important;
    background-color: white;

    width: 100%;
    bottom: 0;
    padding: 5px 16px 5px 16px;
}

.hncityIcons {
    vertical-align: middle;
}