<header class="bx--header" role="banner" data-header>
    <a class="bx--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
    <button aria-label="Open menu" class="bx--header__action--menu bx--header__action bx--header__menu-trigger bx--header__menu-toggle bx--header__menu-toggle__hidden" title="Open menu" type="button" data-navigation-menu-panel-label-expand="Open menu" data-navigation-menu-panel-label-collapse="Close menu" data-navigation-menu-target="#hidden_menu">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="bx--navigation-menu-panel-collapse-icon" width="20" height="20" viewBox="0 0 32 32">
            <path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path>
        </svg>
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="bx--navigation-menu-panel-expand-icon" width="20" height="20" viewBox="0 0 20 20">
            <path d="M2 14.8H18V16H2zM2 11.2H18V12.399999999999999H2zM2 7.6H18V8.799999999999999H2zM2 4H18V5.2H2z"></path>
        </svg>
    </button>
    <h1 class="mainTitle"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <nav class="bx--header__nav">
        <ul class="hncityMenu bx--header__menu-bar">
            {% include menu-en.html %}
        </ul>
    </nav>
    <nav id="hidden-menu" class="bx--side-nav__navigation bx--side-nav bx--navigation" hidden>
        <div class="bx--navigation-section">
            <ul class="bx--navigation-items hncityMenu">
                {% include menu-en.html %}
            </ul>
        </div>
    </nav>
</header>