<header class="bx--header" role="banner" data-header>
    <a class="bx--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
    <h1 class="hncityTitle"><a href="{{ site.url }}">HaneulCity</a></h1>
    <nav class="bx--header__nav">
        <ul class="hncityMenu bx--header__menu-bar">
            <li>
                <a href="{{ site.url }}/about">About</a>
            </li>
            <li>
                <a href="{{ site.url }}/download">Download</a>
            </li>
            <li>
                <a href="{{ site.url }}/news">News</a>
            </li>
            <li>
                <a href="{{ site.url }}/server">Private Server</a>
            </li>
        </ul>
    </nav>
</header>