<header class="bx--header" role="banner" data-header>
    <a class="bx--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
    <h1 class="hncityTitle"><a href="{{ site.url }}">하늘마을 프로젝트</a></h1>
    <nav class="bx--header__nav">
        <ul class="hncityMenu bx--header__menu-bar">
            <li>
                <a href="{{ site.url }}/about">소개</a>
            </li>
            <li>
                <a href="{{ site.url }}/download">내려받기</a>
            </li>
            <li>
                <a href="{{ site.url }}/news">새로운 소식</a>
            </li>
            <li>
                <a href="{{ site.url }}/server">서버 운영 안내</a>
            </li>
        </ul>
    </nav>
</header>