<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/about" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>소개</a>
</li>
<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/download" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>내려받기</a>
</li>
<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/news" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>새로운 소식</a>
</li>
<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/server" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>서버 운영 안내</a>
</li>