<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/about" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>About</a>
</li>
<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/download" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>Download</a>
</li>
<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/news" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>News</a>
</li>
<li {% if type == "mobile" %} class="bx--side-nav__item" {% endif %}>
    <a href="{{ site.url }}/server" {% if type == "mobile" %} class="bx--side-nav__link" {% endif %}>Private Server</a>
</li>